/* Réinitialisation des marges et padding par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body et mise en forme globale */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 0;
}